* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header styling */
.highscore-timer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.highscores {
    color: plum;
    text-decoration: none;
}

/* start page styling */
.start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

#start-quiz {
    font-size: 15px;
    background-color: indigo;
    color: white;
    padding: 8px 17px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-quiz:hover {
    background-color: plum;
}
/* Question Styling */
.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 20px;
}

#question-title{
    margin: 20px;
    font-size: 40px;
}

.answer-choices {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    font-size: 20px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: indigo;
    color: white;
    list-style: none;
    padding: 5px;
    
}

.answer-choices:hover {
    cursor: pointer;
    background-color: plum;
}

.correct-wrong {
    width: 100%;
    font-size: 30px;
    color: lightgray;
    display: none;
}

.correct-wrong p {
    border: 3px solid lightgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 20px;
}

.correct-right {
    width: 100%;
    font-size: 30px;
    color: lightgray;
    display: none;
}

.correct-right p {
    border: 3px solid lightgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 20px;
}

.results-content {
    display: none;
}



