* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start page styling */
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    position: absolute;
    top: 105px;
    left: 35%;
    font-size: 30px;
}

.start-p {
    position: absolute;
    top: 198px;
    left: 32%;
    font-size: 18px;
    text-align: center;
}

.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start-btn button {
    font-size: 15px;
    background-color: indigo;
    color: white;
    padding: 8px 17px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-btn button:hover {
    background-color: plum;
}
.page-content {
    width: 530px;
    border-radius: 5px;
}
