* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header styling */
header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.highscores {
    color: plum;
    text-decoration: none;
}

.timer{
    display: flex;
}

.time {
    position: relative;
    right: 20px;
}

.time-sec {
    position: relative;
    right: 10px;
}

/* start page styling */
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    position: absolute;
    top: 105px;
    left: 35%;
    font-size: 30px;
}

.start-p {
    position: absolute;
    top: 198px;
    left: 32%;
    font-size: 18px;
    text-align: center;
}

.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start-btn button {
    font-size: 15px;
    background-color: indigo;
    color: white;
    padding: 8px 17px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-btn button:hover {
    background-color: plum;
}
.page-content {
    width: 530px;
    border-radius: 5px;
}
/* Question Styling */
.option{
    display: flex;
    width: 19%;
    font-size: 20px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: indigo;
    color: white;
    
}

.option:hover {
    cursor: pointer;
    background-color: plum;
}

.option-number {
    padding: 5px;
}

.option-text {
    padding: 5px;
}

